$tablet: 768px;
$desktop: 1440px;

$color-btn: #ff3e79;
$color-main: #f8f8f8;
$color-header: #ffffff;
$color-decor: #d9fff5;

$text-color: #1b1c21;
// $line-height: 1.375em;

$regular: 'TTLakes';
$medium: 'TTLakesMedium';
$bold: 'TTLakesBold';
