$tablet: 768px;
$desktop: 1440px;

$color-btn: #ff3e79;
$color-main: #f8f8f8;
$color-header: #ffffff;
$color-decor: #d9fff5;

$text-color: #1b1c21;
$text-color-gray: #7e7e82;

$regular: 'TTLakes';
$medium: 'TTLakesMedium';
$bold: 'TTLakesBold';
